{% extends 'blog/base.html' %}

{% block title %}
Business Blog
{% endblock title %}

{% block content %}
<div class="text-center">
    <img src="/static/blog/img/images.jpg" class="rounded">
</div>
<div class="container">
    <h4>Amazing Blogs</h4>
    <p>
        A Blog is a discussion or informational website published on the 
        World Wide Web consistingof discrete, often informal diary-style
        text entries (posts). Posts are typically displayed in reverse
        cholonogical order, so that the most recent post appears first, at
        the top of the web page.
        Among the best blog sites, Amazing blog is, by far the most popular
        blogging platform in the world.
    </p>
</div>
{% endblock content %}